{{>post-info post}}

{{#if loggedIn}}
<form class="comment">
    <div>
        <testarea name="comment-body"></testarea>
    </div>
                        
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

{{>comments post.comments}}

{{#if loggedIn}}
{{!Javascript goes here}}
<script src="/javascript/comment.js"></script>
{{/if}}
